@charset "UTF-8";

.container {
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    
}

.body{
    margin: auto 0px;
    
    width: 100%;
    height: 100%;
    background-color: white;
    
}

.body_content{
    display: flex;
    /* background-color: blanchedalmond; */

    width: 100%;
    height: 80%;

}

.vr{
    margin: auto 0;

    width: 1px;
    height: 100%;
    border-left: 1px solid rgb(212,212,212);

    margin-left: 20px;

}

.map {
   
    width: 60%;
    height: 100%;
    margin-left: 20px;
}

.body > h3 {
    margin-top: 40px;
    margin-bottom: 40px;

    width: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
}

.right_content {
   
    width: 40%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.tab{
    
    display: flex;
}

.tag{
    margin-right: 10px;
    

    font-size: 20px;
}

.address {
    margin-right: 10px;
   
    font-size: 20px;
}

.keyword{
    margin-right: 10px;
   
    font-size: 20px;
}

.searchWay:focus {
    border-top: 3px solid #cc8561;
    transition: .3s;
    font-size: 25px;
}

.tagChk:focus {
    transition: .5s;
    outline: none;
    border-bottom: 1px solid #cc8561;
}

#searchBtn:focus{
    outline: none;
}

.searchbar{ 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#search {
    width: 80%;
    height: 40px;
    background-image: url(/Cafeinme/img_mypage/search.png);
    background-repeat: no-repeat;
    text-indent: 50px;
    background-size: 30px;
    background-position-x: 5px;
    background-position-y: 3px;

    border: none;
    border-bottom: 1px solid #8c7b6e;

    
}

#searchBtn {
    background-color: #8c7b6e;
    padding: 10px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    border-radius: 10px;

    cursor: pointer;
}

#searchBtn:hover {
    transition: .5s;
    background-color: #cc8561;
}

.tagbox {
    background-color: transparent;
    margin-top: 20px;
    outline: 1px dashed rgb(212,212,212);
    width: 100%;
    height: 200px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly;
    white-space: wrap;

    padding: 20px;

}

.checks {
    margin: auto 0px;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 12px;


}

/* 체크박스 꾸미기 */

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 14px;  /* 체크박스의 너비를 지정 */
  height: 14px;  /* 체크박스의 높이를 지정 */
  line-height: 14px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
  content: '\2714';  /* 체크표시 유니코드 사용 */
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  background: #e9ecee;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checks.small input[type="checkbox"] + label {
  font-size: 12px;
}

.checks.small input[type="checkbox"] + label:before {
  width: 17px;
  height: 17px;
  line-height: 17px;
  font-size: 11px;
}

.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #8c7b6e;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity:1; 
  background: transparent;
  border-color:transparent #cc8561 #cc8561 transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
  
}

label:hover{
    color:#cc8561;
}




.searchresult {
    margin-top: 20px;
}

.searchResult{
    margin-top: 20px;
}

.searchResult > li {
    background-color: transparent;
    outline: 1px solid rgb(212 212 212);
    width: 100%;
    height: 100px;

    margin-top: 20px;
    margin-bottom: 10px;
}

li:hover{
    transition: .5s;
    outline: 1px solid #cc8561;
}

.result1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result1 .vr {
    height: 80%;
}

.resultimg {
    width: 90px;
    height: 90px;
    margin-left: 5px;
}

.resultimg img {

    width: 100%;
    height: 100%;
}

.result_content {
    margin-left: 20px;
}

.result_title{
    font-weight: bold;
}

