@charset "UTF-8";

* {
  /* outline: 1px dashed red; */
}

.itemSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 100%;
  /* height: 300px; */
  margin: 10px;
  padding: var(--padding);
  text-align: center;
  border: 1px solid var(--grey-light-color);
  border-radius: var(--medium-tab);
}

.item_detail {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_info{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.exit_icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.exit_img {
  width: 20px;
  height: 20px;
  background: url(/Cafeinme/img_mypage/exit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
 
}

.exit_img:focus {
  outline: none;
}

.exit_img:hover {
  transition: .5s;
  opacity: 50%;
}

.item_name {
  
  font-size: var(--font-large);
  font-weight: bold;
  color: #cc8561;
}

.item_content {
  font-size: var(--font-small);
}

.item_price {
  font-size: var(--font-medium);
}

.item_img {
  display: flex;
  margin: auto;
  width: 300px;
  height: 300px;
  margin-right: 10px;
}

.item_img img {
  width: 300px;
  height: 300px;
}

.item_count {
  font-size: var(--font-medium);
}


.item_count_input {
  width: 40px;
  margin-left: 5px;
  border: none;
  border-bottom: 2px solid var(--grey-light-color);
}


.submitBtn {
  width: 100%;
  height: 40px;
  background-color: var(--primary-brown-dark);
  color: white;
  font-size: var(--font-large);
  border-radius: var(--big-tab);
  cursor: pointer;
}

.submitBtn:hover {
  transition: .5s;
  background-color: var(--secondary-orange);
}

.submitBtn:focus {
  outline: none;
}